$section-headings-color: #558382 !default;
$body-text-color: #3f3f3f !default;
$body-link-color: #558382 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.page-header {
  background-image: url(https://devw4pftlz2lj.cloudfront.net/media/spire/2017/06/27/armada.jpg);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #558382;
}
